<div class="widget-box pip-picture-slider-widget {{ $ctrl.color }} layout-column layout-fill" ng-class="{
        small: $ctrl.options.size.colSpan == 1 && $ctrl.options.size.rowSpan == 1,
        medium: $ctrl.options.size.colSpan == 2 && $ctrl.options.size.rowSpan == 1,
        big: $ctrl.options.size.colSpan == 2 && $ctrl.options.size.rowSpan == 2 }" 
        index='{{ $ctrl.index }}' group='{{ $ctrl.group }}'>

        <div class="widget-heading lp16 rp8 layout-row layout-align-end-center flex-none">
            <span class="flex text-overflow">{{ $ctrl.options.title }}</span>
            <pip-tile-menu ng-if="!$ctrl.options.hideMenu"></pip-tile-menu>
        </div>

        <div class="slider-container">
            <div pip-image-slider pip-animation-type="'fading'" pip-animation-interval="$ctrl.animationInterval" 
                ng-if="$ctrl.animationType == 'fading'">
                <div class="pip-animation-block" ng-repeat="slide in $ctrl.options.slides">
                    <img ng-src="{{ slide.image }}" alt="{{ slide.image }}" pip-image-load="$ctrl.onImageLoad($event)"/>
                    <p class="slide-text" ng-if="slide.text">{{ slide.text }}</p>
                </div>
            </div>

            <div pip-image-slider pip-animation-type="'carousel'" pip-animation-interval="$ctrl.animationInterval" 
                ng-if="$ctrl.animationType == 'carousel'">
                <div class="pip-animation-block" ng-repeat="slide in $ctrl.options.slides">
                    <img ng-src="{{ slide.image }}" alt="{{ slide.image }}" pip-image-load="$ctrl.onImageLoad($event)"/>
                    <p class="slide-text" ng-if="slide.text">{{ slide.text }}</p>
                </div>
            </div>
        </div>
</div>