<div class="pip-position-widget widget-box p0 layout-column layout-fill"
     ng-class="{
        small: $ctrl.options.size.colSpan == 1 && $ctrl.options.size.rowSpan == 1,
        medium: $ctrl.options.size.colSpan == 2 && $ctrl.options.size.rowSpan == 1,
        big: $ctrl.options.size.colSpan == 2 && $ctrl.options.size.rowSpan == 2 }"
        index='{{ $ctrl.index }}' group='{{ $ctrl.group }}'>
    <div class="position-absolute-right-top" ng-if="!$ctrl.options.locationName">
        <pip-tile-menu ng-if="!$ctrl.options.hideMenu"></pip-tile-menu>
    </div>

    <div class="widget-heading lp16 rp8 layout-row layout-align-end-center flex-none" ng-if="$ctrl.options.locationName">
        <span class="flex text-overflow">{{ $ctrl.options.locationName }}</span>
        <pip-tile-menu ng-if="!$ctrl.options.hideMenu"></pip-tile-menu>
    </div>

    <pip-location-map class="flex" ng-if="$ctrl.showPosition" pip-stretch="true" pip-rebind="true"
        pip-location-pos="$ctrl.options.location"></pip-location>
</div>
