.pip-position-widget {
    .position-absolute-right-top {
        position: absolute;
        top: 0;
        right: 0;
    }
    .widget-heading {
        z-index: 2;
        height: 36px;
        background: rgba(224, 224, 224, 0.87);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        span {
            font-size: 15px;
            font-weight: 500;
            color: rgba(0, 0, 0, 0.87);
        }
    }
}