<div class="widget-box pip-statistics-widget layout-column layout-fill"
     ng-class="{
        small: widgetCtrl.options.size.colSpan == 1 && widgetCtrl.options.size.rowSpan == 1,
        medium: widgetCtrl.options.size.colSpan == 2 && widgetCtrl.options.size.rowSpan == 1,
        big: widgetCtrl.options.size.colSpan == 2 && widgetCtrl.options.size.rowSpan == 2 }">
    <div class="widget-heading layout-row layout-align-start-center flex-none">
        <span class="widget-title flex-auto text-overflow">{{ widgetCtrl.options.title || widgetCtrl.options.name }}</span>
        <pip-menu-widget></pip-menu-widget>
    </div>
    <div class="widget-content flex-auto layout-row layout-align-center-center" ng-if="widgetCtrl.options.series && !widgetCtrl.reset">
        <pip-pie-chart pip-series="widgetCtrl.options.series" ng-if="!widgetCtrl.options.chartType || widgetCtrl.options.chartType == 'pie'"
                    pip-donut="true" 
                    pip-pie-size="widgetCtrl.chartSize" 
                    pip-show-total="true" 
                    pip-centered="true">
        </pip-pie-chart>
    </div>
</div>
