<h3 class="tm0 flex-none">{{vm.dialogTitle}}</h3>
<div class="pip-body pip-scroll p16 bp0 flex-auto">
    <pip-extension-point></pip-extension-point>
    <pip-toggle-buttons class="bm16" ng-if="!vm.hideSizes" pip-buttons="vm.sizes" ng-model="vm.sizeId">
    </pip-toggle-buttons>
    <pip-color-picker ng-if="!vm.hideColors" pip-colors="vm.colors" ng-model="vm.color">
    </pip-color-picker>
</div>
</div>
<div class="pip-footer flex-none">
    <div>
        <md-button class="md-accent" ng-click="vm.onCancel()">Cancel</md-button>
        <md-button class="md-accent" ng-click="vm.onApply()">Apply</md-button>
    </div>
</div>