.pip-calendar-config {
    .md-datepicker-button {
        margin-left: 0px !important;
    }
    .md-datepicker-input-container {
        width: calc(100% - 70px);
        .md-datepicker-expand-triangle {
            margin-top: 0px !important;
        }
    }
}