<div class="widget-box pip-event-widget {{ $ctrl.color }} layout-column layout-fill" ng-class="{
        small: $ctrl.options.size.colSpan == 1 && $ctrl.options.size.rowSpan == 1,
        medium: $ctrl.options.size.colSpan == 2 && $ctrl.options.size.rowSpan == 1,
        big: $ctrl.options.size.colSpan == 2 && $ctrl.options.size.rowSpan == 2 }" >
    <img ng-if="$ctrl.options.image" ng-src="{{$ctrl.options.image}}" alt="{{$ctrl.options.title || $ctrl.options.name}}"
    />
    <div class="text-backdrop" style="background-color: rgba(0, 0, 0, {{ $ctrl.opacity }})">
        <div class="widget-heading layout-row layout-align-start-center flex-none">
            <span class="widget-title flex-auto text-overflow">{{ $ctrl.options.title || $ctrl.options.name }}</span>
            <pip-menu-widget ng-if="!$ctrl.options.hideMenu"></pip-menu-widget>
        </div>
        <div class="text-container flex-auto pip-scroll">
            <p class="date flex-none" ng-if="$ctrl.options.date">
                {{ $ctrl.options.date | formatShortDate }}
            </p>
            <p class="text flex-auto">
                {{ $ctrl.options.text || $ctrl.options.description }}
            </p>
        </div>
    </div>
</div>