.pip-notes-widget.widget-box {
  position: relative;
  height: 100%;
  padding: 0;

  .widget-heading {
      padding: 16px 16px 0px 16px;
      span {
          max-width: calc(100% - 20px);
      }
  }

  .md-icon-button {
    position: absolute;
    top: 8px;
    right: 0;
    z-index: 50;
  }

  .text-container {
    overflow: auto;
    box-sizing: border-box;
    padding: 0px 16px 16px 16px;
    margin-top: 16px;

    p {
      margin: 0;
    }
  }
}